body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a :visited {
  color: black;
}

a :hover {
  color: royalblue;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left,
.right {
  /* Top Right Bottom Left */
  margin: 2.5% 0 2.5% 0;
  padding: 1.5%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px solid black;
}

.result {
  width: 100%;
  margin: 0 2% 0% 2%;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border: 2px solid black;
}

.input-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-top: 5%;
  padding: 1%;
  border: 2px solid black;
}

.input {
  max-width: 20%;
}

.submit-button,
.add-button {
  margin-left: 3%;
  width: 25%;
}

.equivalence-container {
  margin-top: 5%;
  max-height: 400px;
  height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  border: 2px solid black;
  margin-bottom: 5%;
}

.steps-button {
  font-size: 18px;
}
